<%= render @transport %>
<div>
  <%= link_to "Edit", edit_transport_path(@transport) %> |
  <%= link_to "Destroy", transport_path(@transport),
    "data-turbo-method": :delete,
    "data-turbo-confirm": "Are you sure?" %> |
  <%= link_to "Back to transports", transports_path %>
</div>
