<div id="<%= dom_id hourly_holiday %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= hourly_holiday.id %>
  </p>
  <strong>Position:</strong>
  <%= hourly_holiday.start_time %>
</p>
</div>
