<h1>Editing hourly_holiday</h1>
<%= render "form", hourly_holiday: @hourly_holiday %>
<br>
<div>
  <%= link_to "Show this hourly_holiday", @hourly_holiday %> |
  <%= link_to "Back to hourly_holidays", hourly_holidays_path %>
</div>
