<div class="row">
  <div class="col-8 offset-2">
    <%= image_tag("error.svg", class: "img-fluid") %>
    <br/>
    <p>
      <h5>
        <strong class="text-danger">
          Siamo spiacenti
          <br/>
          la corrente Chiusura Rimborsi contiene documenti allegati
          <br/>
          in questo caso non puoi pi&ugrave; modificare il record
          <br/>
          ma puoi solamente eliminarlo e crearne uno nuovo.
        </strong>
      </h5>
    </p>
  </div>
</div>
