<h1>Editing refund</h1>
<%= render "form", refund_closure: @refund_closure\ %>
<br>
<div>
  <%= link_to "Show this refund closure", @refund_closure %> |
  <%= link_to "Back to refund closures", refund_closures_path %>
</div>
