<%= render @road %>
<div>
  <%= link_to "Edit", edit_road_path(@road) %> |
  <%= link_to "Destroy", road_path(@road),
    "data-turbo-method": :delete,
    "data-turbo-confirm": "Are you sure?" %> |
  <%= link_to "Back to roads", roads_path %>
</div>
