<div id="<%= dom_id hourly_permit %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= hourly_permit.id %>
  </p>
  <strong>Position:</strong>
  <%= hourly_permit.start_time %>
</p>
</div>
