<h1>Editing hourly_permit</h1>
<%= render "form", hourly_permit: @hourly_permit %>
<br>
<div>
  <%= link_to "Show this hourly_permit", @hourly_permit %> |
  <%= link_to "Back to hourly_permits", hourly_permits_path %>
</div>
