<%= render @place %>
<div>
  <%= link_to "Edit", edit_place_path(@place) %> |
  <%= link_to "Destroy", place_path(@place),
    "data-turbo-method": :delete,
    "data-turbo-confirm": "Are you sure?" %> |
  <%= link_to "Back to places", places_path %>
</div>
